<h1>Local Artists</h1>
<% if user_signed_in? %>
  <p> <%=  link_to 'Add Artist', new_artist_path, class: "btn btn-primary" %></p>
<% end %>

<% if @artists.any? %>
  <% @artists.each do |artist| %>
    <ul>
      <li class="all-artists">
        <%= link_to image_tag(artist.display_image), artist_path(artist) %>
        <h3><%= link_to artist.name, artist_path(artist) %></h3>
      </li>
    </ul>
  <% end %>
<% else %>
  <h3> There has been an error with retrieving artist information. Please try again soon. </h3>
<% end %>
