<h1>B3 Gallery</h1>

<div class="jumbotron">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="img/earrings.jpg">
      </div>

      <div class="item">
        <img src="img/pottery.jpg">
      </div>

      <div class="item">
        <img src="img/cups.jpg">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><
      span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" role= aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="col-md-6 divided-column">
  <h3>Featured New Works</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim,
     felis non varius convallis, nunc metus rhoncus nisl, sed lobortis mauris
     risus et orci. Praesent molestie nisi id est facilisis ultricies. Nullam
     efficitur, turpis ut sodales fermentum, tellus justo tempor lectus, eget
     convallis diam urna non massa. Aenean nec turpis finibus, vulputate velit
     quis, elementum nunc. Aliquam ac rutrum diam.
   </p><p>
     Sed tempor iaculis tellus vitae commodo. Vestibulum ultrices quam urna, ac facilisis quam tristique
     id. Duis purus nisl, placerat eget convallis vitae, euismod quis nisl.
     Integer laoreet sollicitudin mi, sed viverra est. In hac habitasse platea
     dictumst. Vestibulum bibendum ipsum neque, in elementum nisl lacinia eget.
     Suspendisse quis felis sed augue egestas consequat non a nunc.
  </p><p>
    Nunc blandit purus sit amet scelerisque rutrum. Fusce sodales facilisis
    nisi quis pulvinar. Morbi neque lectus, venenatis quis pellentesque sed,
    viverra ut nulla. Morbi sagittis eget odio in blandit. In hac habitasse
    platea dictumst. Duis ornare, felis in suscipit finibus, lorem nunc
    iaculis mi, et aliquam magna ex ac tortor. Nunc dapibus, ante vitae
    lobortis rutrum, est nibh sollicitudin sem, in bibendum massa arcu non elit.
  </p><p>
    Ut vitae ornare odio, sed accumsan augue. Pellentesque congue eget nisi quis
    faucibus. Nullam gravida elit ac odio posuere ultrices. Integer vel
    fringilla dui, in porta nisl. Nunc odio eros, sagittis vel mollis at,
    commodo et lectus. Fusce suscipit, est volutpat lobortis aliquam, sapien
    ante venenatis sapien, sed posuere leo dolor et urna.
  </p>

</div>

<div class="col-md-6">
  <h3>NEWS!</h3>
  <br><br>
  <h1>BLARGH</h1>
</div>
