/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// <--------------- DO NOT TOUCH ANYTHING ABOVE THIS LINE ---------------- >

body {
  padding-top: 50px;
  padding-left: 2%;
  padding-right: 2%;
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

@media only screen and (max-width: 1224px){
 body {
   padding-top: 50px;
   background-image: url('/background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
 }
}

.container {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto 40px;
}

.footer, .push {
  height: 40px;
}

.navbar{
  background: rgba(239, 215, 218, 0.74); // THIS 'RGBA' IS THE PINK SLIGHTLY SEE THROUGH
  border: 0px;                           // NAVIGATION BAR BACKGROUND
}

.navbar-default .navbar-brand{
  color: black;                   // THIS COLOR 'BLACK' IS THE NAVIGATION BAR TEXT
  font-family: san-serif, cursive;
  font-size: 30px;
}

 .navbar-fixed-bottom {
   text-align: center;
   background: #E9CED2;     // THIS COLOR '#E9CED2' IS THE BOTTOM FOOTER BAR COLOR
 }

.navbar-xs {
  min-height:28px;
  height: 28px;
  padding-top: 3px;
}

.pull-right {
  margin-right: 10px;
}

 ul.nav {
   text-align: center;
 }

 .artistImageURL {
   width: 300px;
   float: left;
   padding: 20px;
 }



 h1 {
   text-align: center;
 }

 h3 {
   text-align: center;
 }

 .divided-column {
   border-right: 1px solid #000;
 }

 .artistLabel {

 }

 .all-artists img {
   max-width: 90%;
   border-radius: 4px;
   height: 185px;
   width: 285px;
   margin: 1em 2% .2em 2%;
 }


 .all-artists {
   background-color: #ddd;  // THIS COLOR IS THE GREY BOX AROUND ARTWORK IMAGES
   box-shadow: 4px 3px 5px #888888;
   border: 0px solid #523628;
   border-radius: 6px;
   margin: .65em 1%;
   padding: 0;
   list-style: none;
   float: left;
   width: 31%;
   height: auto;
   position: relative;
   text-align: center;
 }

 .all-artists.sold {

 }


 .jumbotron {

   position: relative;
   background: none;
   width: 75%;
   /*height: 300px;*/
   background-size: cover;
   background-color: #000;
   overflow: hidden;
   color: black;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   margin-left: 12.5%;
 }

 .carousel-inner > .item > .active {   // IMPORTANT!!!! Images in the carousel need to
   margin: 0 auto;                     // have a 16:9 aspect ratio
   max-width: 640px;
   max-height: 360px !important;
   min-width: 480px;
   min-height: 270px;
 }

 .carousel-control {
   width: 40px;
 }


.field {
  width: 200px;
}

.form-group{
  width: 400px;
}

.clear {
  display: block
  width 100%;
}

.add_artwork_form {
  display: none;
}
